body{
    margin: 0; 
}

#toolbar{
    overflow: hidden; 
    background-color: rgb(0, 122, 96); 
    border: 1px solid black ;  
    padding-left: 30%;  
}

#toolbar a {
    float: left; 
    border: 1px solid black;  
    display: inline; 
    text-align: center;
    color: black;  
    padding: 14px 16px; 
    text-decoration: none;
    margin-top: 10px; 
    font-size: 17px; 
}
#toolbar a:hover{
    margin-top: 5px; 
    background-color: rgb(0, 122, 122); 
    color: white; 
}
.searchbar{
    display: block; 
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
  }
button{
    border: none; 
     
    background-color: white;
    padding: 10px; 
}
button:hover{
    background-color: #ddd; 
}
input{
    border: none; 
    border-radius: 10px;
    background-color: #ddd;
    padding: 10px; 
}
input:active{
    border: 1px solid black; 
}
.socials{
    
    width: 10%; 
    height: 100%; 
    border: 1px solid black; 
    position: relative; 
    float: left; 
}
.main-body{
    display: inline-block; 
    width: 89%; 
    height: 100%; 
    border: 1px solid red; 
    position: relative;
    padding-left: 50px; 
}